<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
		<h1>Sobre MI</h1>
        <h2>Mi primer sitio web en Astro</h2>
        <p>Actualmente estoy trabajando en la empresa de Creditos y Ahorro Caja Municipal Cusco. Adicionalemte trabajo en proyectos con React js y Astro js</p>
        <p>Este sitio se irá actualizando a medida que vaya completanto mas partes del proyecto Mi Blog, asi que continua visitando en esta aventura!</p>
 	</body>
</html>
