---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Inicio"
const titleHead = "Pagina de Inicio"
---
<BaseLayout pageTitle = {pageTitle} titleHead = {titleHead}>
    <h2>Un emocionante subtitulo del blog</h2>
</BaseLayout>


